In [1]:
%load_ext sql

In [2]:
import configparser
import psycopg2
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [3]:
HOST = config.get("CLUSTER","host")
DB_NAME= config.get("CLUSTER","db_name")
DB_USER= config.get("CLUSTER","db_user")
DB_PASSWORD= config.get("CLUSTER","db_password")
DB_PORT = config.get("CLUSTER","db_port")

In [4]:
conn = "postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn)
%sql $conn

postgresql://admin:Udacity1234@redshift-udacity.cmqrcdlzivh7.us-west-1.redshift.amazonaws.com:5439/udacity-project

In [5]:
%%sql 
select * from staging_events  LIMIT 5

 * postgresql://admin:***@redshift-udacity.cmqrcdlzivh7.us-west-1.redshift.amazonaws.com:5439/udacity-project
5 rows affected.

[(1, None, 'Logged In', None, 'M', None, None, None, 'free', 'San Francisco-Oakland-Hayward, CA', 'GET', 'Home', 1540919166796, None, None, 200, 1541105830796, None, None),
 (6, None, 'Logged In', None, 'M', None, None, None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540306145796, None, None, 200, 1541290555796, None, None),
 (20, 'Juan Carmona', 'Logged In', None, 'F', None, None, Decimal('331.44117'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, None, 'Panales de Algodon', 200, 1541549367796, None, None),
 (36, 'Bullet For My Valentine', 'Logged In', None, 'F', None, None, Decimal('235.65016'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, None, 'Begging For Mercy', 200, 1541549869796, None, None),
 (49, 'The Mars Volta', 'Logged In', None, 'F', None, None, Decimal('380.42077'), 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', 1540344794796, None, 'Eriatarka', 200, 1541106673796, None, None)]

In [6]:
%%sql 
select * from staging_songs LIMIT 5

 * postgresql://admin:***@redshift-udacity.cmqrcdlzivh7.us-west-1.redshift.amazonaws.com:5439/udacity-project
5 rows affected.

[(4, 1, 'AR1C2IX1187B99BF74', None, None, '', 'Broken Spindles', 'SODZYPO12A8C13A91E', 'Burn My Body (Album Version)', Decimal('177.99790'), 0),
 (5, 1, 'AR9Q9YC1187FB5609B', None, None, 'New Jersey', 'Quest_ Pup_ Kevo', 'SOFRDWL12A58A7CEF7', 'Hit Da Scene', Decimal('252.94322'), 0),
 (9, 1, 'ARBZIN01187FB362CC', Decimal('1.32026'), Decimal('103.78870'), '27', 'Paris Hilton', 'SOERIDA12A6D4F8506', 'I Want You (Album Version)', Decimal('192.28689'), 2006),
 (25, 1, 'ARKIQCZ1187B9A7C7C', Decimal('52.23973'), Decimal('-0.88575'), 'Northampton, Northamptonshire, En', 'Bauhaus', 'SOSIJKW12A8C1330E3', 'A God In An Alcove (Session Version)', Decimal('248.65914'), 0),
 (27, 1, 'AR1LOGZ1187B990FB4', None, None, 'Boston, MA', 'Mike Stern', 'SOWBWRV12A6D4FB3D0', 'I Know You', Decimal('307.46077'), 0)]

In [7]:
%%sql 
select * from songplays LIMIT 5

 * postgresql://admin:***@redshift-udacity.cmqrcdlzivh7.us-west-1.redshift.amazonaws.com:5439/udacity-project
0 rows affected.

[]

In [8]:
%%sql 
select * from users LIMIT 5

 * postgresql://admin:***@redshift-udacity.cmqrcdlzivh7.us-west-1.redshift.amazonaws.com:5439/udacity-project
5 rows affected.

[(None, None, None, 'F', 'free'),
 (None, None, None, 'F', 'free'),
 (None, None, None, 'F', 'free'),
 (None, None, None, 'M', 'free'),
 (None, None, None, 'F', 'free')]

In [9]:
%%sql 
select * from songs LIMIT 5

 * postgresql://admin:***@redshift-udacity.cmqrcdlzivh7.us-west-1.redshift.amazonaws.com:5439/udacity-project
5 rows affected.

[('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263.99302')),
 ('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 'AR70XXH1187FB44B55', 0, Decimal('101.92934')),
 ('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, Decimal('448.23464')),
 ('SOAASSD12AB0181AA6', 'Song From Moulin Rouge', 'ARKXLIJ1187B9A4C54', 0, Decimal('195.02975')),
 ('SOAAUVF12A58A7D58C', 'Hickory Wind (Remastered LP Version)', 'AR9VCSR1187B9B879E', 1979, Decimal('243.48688'))]

In [10]:
%%sql 
select * from artists LIMIT 5

 * postgresql://admin:***@redshift-udacity.cmqrcdlzivh7.us-west-1.redshift.amazonaws.com:5439/udacity-project
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None),
 ('AR048JZ1187B9AEB85', 'Yellowcard', 'Jacksonville, FL', Decimal('30.33137'), Decimal('-81.65579'))]

In [11]:
%%sql 
select * from time LIMIT 5

 * postgresql://admin:***@redshift-udacity.cmqrcdlzivh7.us-west-1.redshift.amazonaws.com:5439/udacity-project
0 rows affected.

[]